*{
     margin: 0;
     padding: 0;
     box-sizing: 0;  
     font-family:'Courier New', Courier, monospace;
     font-size: 16px;

}

html, body{
     height: 100%;
     /* background-color: #D6A07E; */
     background-image: url('../assets/imagens/fundo-enquete.png');

}

li{
     text-decoration: none; 
     text-align: none;
     list-style-type: none;
     padding: 8px;
}



                                           /* HEADER  LATERAL */
.header a{
     text-decoration: none; 
     color: black;   
}

.header{
     display: flex;
     height: 100%;
     width: 20%;
     background-color: #F8C4B5;
     position: fixed;
     justify-content: center;
}

                                            /* IMAGEM DO HEADER */
.container{
     display: flex;
     margin-top: 40px;
     flex-direction: column;
     align-items: center;
}

.imagem-perfil{
     display: flex;
     margin-top: 15px;
     flex-direction: column;
     align-items: center;
}
.perfil-editado{
     width: 100%;
     height: 90px;
     border-radius: 80px;
}

.frase{
     font-size: 20px;
}


                                       /* INFORMAÇÕES DO HEADER */
.navbar{
     width: 100%;
     align-items: center;
     margin-top: 20px;
     flex-direction: column;
     justify-content: center;
}

.borda{
     display: flex;
     border: 2px solid #BC664D;
     width: 81%;
     padding: 20px;
     justify-content: center ;
}

.menu-selecionado{
     display: flex;
     width: 81%;
     padding: 20px;
     border: 2px solid #BC664D;
     background-color: #BC664D;
     box-shadow: 0 0 10px 4px rgb(114, 65, 49, 0.589);
     justify-content: center ;
}

.menu-item:hover { /*houver é quando o mouse passa por cima*/
     background-color: #BC664D; /*Quando o mouse passar por cima, a cor vai mudar*/
     box-shadow: 0 0 10px 4px rgba(114, 65, 49, 0.589);
     transition: background-color 0.3s; /*quanto tempo vai levar essa mudança*/
}


                                        /* ÁREA DE ANALISE */
.analise{
     display: flex;
     width: 72%;
     margin-left: 24%;
     margin-right: 24%;
     padding-top: 50px;
     flex-direction: column;
}

.dados-analisados{
     display: flex;
     justify-content: center;
     width: 100%;
     background-color: #BC664D;
     border: 1px solid black;
     color: aliceblue;
}

.contexto{
     background-color: #F8C4B5;
     border: 1px solid black;
     padding: 10px;
     text-align: justify;
}


                                        /* AREA DE GRAFICOS */
.corpo{
     display: flex;
     flex-direction: row;
}

.grafico{
     display: flex;
     margin-top: 50px;
     width: 80%;
     height: 50%;
     margin-left: 20%;
     flex-direction: row;
     align-items: center;
     justify-content: space-evenly;
}

.area-grafico{
     flex-direction: column;
     display: flex;
     width: 30%;
     border: 1px solid #BC664D;
     background-color: #F8C4B5;
     box-shadow: 0 0 10px 2px #745d57;
     padding: 64px;
}

.titulo{
     color: black;
}

.borda-externa{
     display: flex;
     width: 45%;
     height: 95%;
     background-color: #F8C4B5;
     justify-content: center;
     align-items: center;
}

.borda-interna{
     display: flex;
     width: 88%;
     height: 80%;
     box-shadow: 0 0 10px 4px #bf9385;
     background-color: #DC8069;
     align-items: center;
     text-align: justify;
}



